<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ardagv">

	<xacro:arg name="sim_mode" default="false"/> <!-- true if running in simulation -->
	<xacro:arg name="can_iface" default="can1"/>

	<xacro:include filename="ardagv_ros2_control.urdf.xacro"/>
	<xacro:include filename="ardagv_model.urdf.xacro"/>

	<xacro:include filename="lidar.xacro" />
	<xacro:include filename="imu.xacro" />
	<xacro:include filename="camera.xacro" />
	<!-- <xacro:include filename="depth_camera.xacro" /> -->

</robot>

